@import '../../styles/_variaveis.scss';
//Main
.main{
    background-color: $main--backgroundColor;

    width: 100%;
    padding: 5rem 0rem;

    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;

}
//Produtos
.main__produtos{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 45%;
}

//Carrinho
.main__carrinho{
    align-items: stretch;
    background-color: $main__carrinho--backgroundColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    width: 45%;
}

